
Builds/.DS_Store
Builds/MacOSX/.DS_Store
Builds/MacOSX/build/.DS_Store
Builds/MacOSX/build/Debug/.DS_Store
Builds/MacOSX/build/Debug/libSampler_Curso_Final.a
Builds/MacOSX/build/Debug/Sampler_Curso_Final.vst3
Builds/MacOSX/Info-AU.plist
Builds/MacOSX/Info-Standalone_Plugin.plist
Builds/MacOSX/Info-VST3.plist
Builds/MacOSX/RecentFilesMenuTemplate.nib
Builds/MacOSX/Sampler_Curso_Final.xcodeproj/project.pbxproj
Builds/MacOSX/Sampler_Curso_Final.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Builds/MacOSX/Sampler_Curso_Final.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Builds/MacOSX/Sampler_Curso_Final.xcodeproj/project.xcworkspace/xcuserdata/jsvaldezv.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Sampler_Curso_Final.xcodeproj/xcshareddata/xcschemes/Sampler_Curso_Final - VST3.xcscheme
Builds/MacOSX/Sampler_Curso_Final.xcodeproj/xcuserdata/jsvaldezv.xcuserdatad/xcschemes/xcschememanagement.plist
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU.r
JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
JuceLibraryCode/include_juce_audio_plugin_client_RTAS.r
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_1.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_4.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.mm
JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
JuceLibraryCode/include_juce_audio_plugin_client_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST_utils.mm
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_audio_utils.cpp
JuceLibraryCode/include_juce_audio_utils.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/JucePluginDefines.h
JuceLibraryCode/ReadMe.txt
Builds/MacOSX/Sampler_Curso_Final.xcodeproj/xcuserdata/jsvaldezv.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Builds/MacOSX/Sampler.xcodeproj/xcuserdata/jsvaldezv.xcuserdatad/xcschemes/xcschememanagement.plist
*.a
*.vst3
*.pbxproj
*.xcworkspacedata
*.plist
*.xcuserstate
